/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  font-family: sans-serif;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root {
  isolation: isolate;
}

.table {
  max-width: 1000px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;

  border-radius: 0 16px 0 0;
}
td {
  padding: 10px;
}

td:nth-child(even) {
  background-color: #f2f2f2;
}

thead {
  background-color: #bbbbbb;
}

th:nth-last-of-type(1) {
  border-radius: 0 16px 0 0;
}
th:first-of-type {
  border-radius: 16px 0 0 0;
}
/* td:first-of-type {
  border-left: 1px solid blue;
} */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  background-color: #bbbbbb;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 16px 16px 0 0;
}

#airport {
  position: relative;
  top: 60px;
}

form {
  padding-bottom: 50px;
}
